<nav class='secondNavBar'>
                <a ui-sref='home' class='navMainLogo'></a>
                <ul class='secondList'>
                    <li class='dropdown'><a class='dropbtn' ui-sref='aboutus' id='blackWords'>ABOUT US</a>
                        <div class='dropdown-content' id='one'>
                            <a>O.U.R. Promise</a>
                            <a>Process</a>
                            <a>Team</a>
                        </div>
                    </li>
                    <li class='dropdown'><a class='dropbtn' ui-sref='jointhefight' id='blackWords'>JOIN THE FIGHT</a>
                        <div class='dropdown-content' id='two'>
                            <a>Donate</a>
                            <a>Volunteer</a>
                            <a>Host an event</a>
                            <a>Attend an event</a>
                            <a>Shop</a>
                            <a>Coorporate gift matching</a>
                            <a>Start a campaign</a>
                            <a>Get E-Alerts</a>
                        </div>
                    </li>
                    <li class='dropdown'><a class='dropbtn' ui-sref='ourstories' id='blackWords'>O.U.R STORIES</a></li>
                    <li class='dropdown'><a class='dropbtn' ui-sref='partnerships' id='blackWords'>PARTNERSHIPS</a>
                        <div class='dropdown-content' id='three'>
                            <a href="#">Coordinated Rescue</a>
                            <a href="#">Recovery Planning</a>
                            <a href="#">Changing the mindset</a>
                            <a href="#">Partnering Organizations</a>
                        </div>
                    </li>
                    <li class='dropdown'><a class='dropbtn' ui-sref='eventsmedia' id='blackWords'>EVENTS & MEDIA</a>
                        <div class='dropdown-content' id='four'>
                            <a href="#">Events Calender</a>
                            <a href="#">Events Archive</a>
                            <a href="#">The Abolitionists</a>
                            <a href="#">O.U.R. Brochure</a>
                        </div>
                    </li>
                </ul>
            </nav>