<navbar>
</navbar>
<section class='partnershipsSection'>
    <div class='partnerImageBoxes'></div>
    <div class='partnerImageBoxes animated bounceInLeft' id='partnerImageOverlay'>
        <h1>WE CANNOT WIN THIS FIGHT ALONE</h1>
        <p>The battle against child sex trafficking is far reaching, ever changing, and dependent upon the coordinated effort
            of specific expertise around the world. O.U.R. partners with a variety of local and international organizations
            to coordinate rescues, plan for recovery, and change the mindset.</p>
        <h2>Click on a button below to see the organizations that support O.U.R. on our mission to end child sex slavery.</h2>
    </div>
</section>
<section>
    <div class='partnerBlackButtons'>
        <div id='partnerFadeIn'>
            <div class='partnerButtons'>
                <div class='imageFirstButton'></div>
            </div>
            <p>COORDINATED RESCUE</p>
        </div>
        <div id='partnerFadeIn1'>
            <div class='partnerButtons'>
                <div class='imageSecondButton'></div>
            </div>
            <p>AFTERCARE</p>
        </div>
        <div id='partnerFadeIn2'>
            <div class='partnerButtons'>
                <div class='imageThirdButton'></div>
            </div>
            <p>CHANGING THE MINDSET</p>
        </div>
        <div id='partnerFadeIn3'>
            <div class='partnerButtons'>
                <div class='imageFourthButton'></div>
            </div>
            <p>PARTNERING ORGANIZATIONS</p>
        </div>
    </div>
</section>