<navbar></navbar>
<section></section>
<h1 class='sinceWords'>SINCE BEING FOUNDED IN DECEMBER 2013</h1>
<div class='foundedSection'>
    <div class='foundedWords'>
        <p>We've gathered the world's experts in extraction operations and in anti-child trafficking efforts to bring an end
            to child slavery. O.U.R.'s Underground Jump Team consists of former CIA, Navy SEALs, and Special Ops operatives
            that lead coordinated identification and extraction efforts. These operations are always in conjunction with
            law enforcement throughout the world.<br>Once victims are rescued, a comprehensive process involving justice
            for the perpetrators and recovery and rehabilitation for the survivors begins.<br>It is time for private citizens
            and organizations to rise up and help. It is our duty as a free and blessed people.</p>
        <h2>Domestic Services</h2>
        <p>O.U.R. salutes our nation's law enforcement officers and prosecutors at the federal, state and local levels who protect
            our country's children. Law enforcement professionals skillfully investigate, arrest and prosecute those who
            violate children. Our nation's police efforts to protect children in the U.S. are light years ahead of many,
            if not all other countries. O.U.R. acknowledges the expertise and extraordinary work done by these dedicated
            men and women who bravely battle the scourge of child sexual exploitation. O.U.R. shares the mission to save
            children and seek justice for those who victimize them, therefore O.U.R. is committed to enhancing law enforcement
            efforts by providing resources where budget shortfalls prohibit a child pornography, child exploitation or human
            trafficking operation from going forward. O.U.R. will also provide or facilitate child exploitation investigative
            training in U.S. jurisdictions where a need exists. Collaborating with law enforcement will reduce duplication,
            promote best practices and avoid other potential issues which might arise without close coordination. O.U.R.
            is privileged and honored to support our nation's heroes in this important cause to deter, disrupt and dismantle
            child exploitation and the trafficking of children in our nation's communities.</p>
        <h2>Click a section below to learn more about O.U.R.</h2>
    </div>
    <div class='foundedImage'></div>
</div>
</section>
<section>
    <div class='routerNav'>
        <a id='whitePromise'>O.U.R. Promise</a>
        <a>Process</a>
        <a>Team</a>
    </div>
    <div class='greyPromise'>
        <img class='greyPromiseImage'>
        <h1>O.U.R PROMISE</h1>
        <p><span id='bolderWords'>To the children</span> <br>who we pray for daily, we say: <br>Your long night is coming to an end.<br><span id='bolderWords'>Hold on. We are on our
            way.</span></p>
    </div>
    <div class='picturePromise'>
        <p>And to those <span id='bolderWords'>captors and perpetrators,<br></span> even you monsters who dare offend God's precious children,
            we declare to you:<br>
            <span id='bolderWords'>Be afraid. We are coming for you.</span></p>
    </div>
    <div class='yellowPromise'>
        <img class='yellowPromiseImage'>
        <p><span id='bolderWords'>To those who have read this far, </span><br> we plead with you: Donate to our cause <br> Donate. We can't do this without you.</p>
    </div>
</section>