<navbar></navbar>
<section class='eventsSection'>
    <nav>
        <h1>EVENTS</h1>
        <h1 class='archiveBox'>EVENTS ARCHIVE</h1>
    </nav>
</section>
<section>
    <div class='eventsYellowHighlight'><h2>HIGHLIGHTS FROM RECENT EVENTS</h2></div>
    <div class='eventsImagesBox'>
    <div class='eventsImages'>
        <li class='eventsImageOne'></li>
        <li class='eventsImageTwo'></li>
        <li class='eventsImageThree'></li>
        <li class='eventsImageFour'></li>
        <li class='eventsImageFive'></li>
        <li class='eventsImageSix'></li>
        <li class='eventsImageSeven'></li>
        <li class='eventsImageEight'></li>
        <li class='eventsImageNine'></li>
        <li class='eventsImageTen'></li>
        <li class='eventsImageEleven'></li>
        <li class='eventsImageTwelve'></li>
    </div>
    </div>
</section>