<navbar></navbar>
<section class='fightTopSection'>
    <div class='fightDonateSection'>
        <div class='fightDonateWords'>
            <h2>WHEN YOU DONATE, YOU DIRECTLY IMPACT THE LIFE OF A SUFFERING CHILD.</h2>
            <p><span>More support</span> = More children rescued + more recoveries planned + more technology installation and
                training
            </p>
        </div>
</section>
<section class='fightOptions'>
    <div class='fightYellowBar'>
        <p>CHOOSE THE TYPE OF SUPPORT THAT'S RIGHT FOR YOU:</p>
    </div>
    <div class='fightOptionBoxes'>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/donate-icon.svg'>
                <p>DONATE</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/volunteer-icon.svg'>
                <p>VOLUNTEER</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/host-icon.svg'>
                <p>HOST AN EVENT</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/attend-icon.png'>
                <p>ATTEND AN EVENT</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/shop-icon.svg'>
                <p>SHOP</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/corporate-icon.svg'>
                <p>CORPORATE GIFT MATCHING</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/campaign-icon.svg'>
                <p>START A CAMPAIGN</p>
            </div>
        </li>
        <li>
            <div class='fightBoxContent'>
                <img src='http://ourrescue.org/assets/img/alerts-icon.svg'>
                <p>GET E-ALERTS</p>
            </div>
        </li>
    </div>
</section>