<navbar></navbar>
<section class='fightTopSection'>
        <h2>WHEN YOU DONATE, YOU DIRECTLY IMPACT THE LIFE <br>OF A SUFFERING CHILD.</h2>
    <div class='fightDonateSection'>
        <div class='fightDonateImage'></div>



    <div class='fightDonateWords'>
        <p><span>More support</span> = More children rescued + more recoveries planned + more technology installation and training</p>
    </div>
    </div>
</section>
<section class='fightOptions'>
    <div class='fightYellowBar'><p>CHOOSE THE TYPE OF SUPPORT THAT'S RIGHT FOR YOU:</p></div>
    <div class='fightOptionBoxes'>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>

</section>