<navbar></navbar>
<section class='storiesTopSection'>
    <div class='storiesMainWords'>
    <h1>TRAFFICKING VICTIMS DIDN'T<br> CHOOSE THEIR LIFESTYLE</h1>
    <p>They've been lured, groomed, manipulated, and coerced. Often times they don't even realize what's happening to them and fail to see that there is hope for a better future. Despite the harsh statistics, rescue and recovery are possible. These are stories of those who've experienced or been affected by trafficking.</p>
    <h2>Read more of <span>OUR Stories</span> here</h2>
    </div>
</section>
<section class='storiesPanorama'>
    <div class='storiesPanoramaList'>
    <div class='storiesSliderImage'></div>
    </div>
</section>