<navbar></navbar>
<section class='storiesTopSection'>
    <div class='storiesMainWords'>
        <h1>TRAFFICKING VICTIMS DIDN'T<br> CHOOSE THEIR LIFESTYLE</h1>
        <p>They've been lured, groomed, manipulated, and coerced. Often times they don't even realize what's happening to them
            and fail to see that there is hope for a better future. Despite the harsh statistics, rescue and recovery are
            possible. These are stories of those who've experienced or been affected by trafficking.</p>
        <h2>Read more of <span>OUR Stories</span> here</h2>
    </div>
</section>
<section class='storiesPanorama'>
        <div class='storiesSliderImage'></div>
</section>
<section class='storiesWhaleWatch'>
    <div class='whaleInfo'>
        <h1>OPERATION WHALE WATCH</h1>
        <div class='whaleDetails'>
            <h2>LATIN AMERICA</h2>
            <h3>RESCUED 24</h3>
            <h3>ARRESTED 5</h3>
        </div>
        <p>Operation Whale Watch was a high-risk mission that Operation Underground Railroad's ops leader felt was worth the
            risk. And he was right. <br><br> Twenty-four young women were rescued in this operation in Latin America. Only
            one was a minor. But that one minor is key in the potential punishment of the five traffickers. Because of that
            16-year-old girl, they are now facing 15-30 years in prison. That's a good day's work. <br><br> The mission went
            pretty much as planned, but was considered high risk for several reasons. First, these traffickers were professionals.
            They knew what they were doing and they had been doing it for a long time. They were organized, connected, and
            well prepared to deal with whatever came along. "This was a sophisticated crime ring. The real deal," said the
            ops leader. "These guys controlled the drugs and the women, creating heightened security risks." <br><br> Second,
            they were armed. O.U.R.'s advance team had done their homework and knew these thugs usually packed heat. "The
            head guy was armed," said the ops leader. "He carried a pistol on his left hip." On the other hand, O.U.R.'s
            jump team members' weapons are more imperceptible, in that they are highly trained on a physical, mental, emotional
            and spiritual level. All these assets are top notch and have served them well. <br><br> Third, some of the local
            police were less than trustworthy. "He had the local police in his control, " said the ops leader. "We believe
            this guy had the local police on his payroll." In order to vet out such situations, O.U.R. works closely with
            the U.S. Embassy and the federal government of whatever country they are operating in. "They always support us
            from afar," said the ops leader. In this particular location, they knew some of the local police had been compromised.</p>
    </div>
    <div class='whaleImages'>
        <div class='whaleImageOne'>
            <div class='whaleImageButton'><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
        </div>
        <div class='whaleImageTwo'>
            <div class='whaleImageButton'><i class="fa fa-plus fa-3x" aria-hidden="true"></i></div>
        </div>
    </div>
</section>
<section>
    <div class='whaleVideo'></div>
</section>
<section>
    <div class='whaleStory'>
        <div class='whaleFullWords'>
            <p>This vital information came from O.U.R.'s advance team, which scouted out the area first to determine if there
                were traffickers and evaluate the potential danger. Their mission was paid for by specific donors who understood
                they were taking a risk also. If the intelligence didn't pan out, the donor money would not result in a rescue.
                Fortunately, for both, it was a big score. <br><br> The green light was given. The operation was a go! The
                jump team assembled and developed a plan with the country's federal law enforcement for a sting operation.
                Security is always a consideration, but in this particular operation O.U.R. brought in their top people due
                to the previously gathered intelligence. Nothing would be overlooked. <br><br> A house was rented and a birthday
                party planned as a cover for having a lot of girls gathering in one place. They didn't want to alarm the
                neighbors or cause undo suspicion. Prior to the party, cameras were hidden around the room. This video would
                be useful later on for prosecution purposes as well as telling O.U.R.'s story. <br><br> The Latin American
                authorities of this country were involved every step of the way. Some of their law enforcement people were
                placed as waiters at the party, partly as a precaution for safety and partly to help when it came time to
                arrest the traffickers. Others were waiting from a distance and would move in once the signal was given.
                Operation Underground Railroad's ops leader was instructed by law enforcement officials that when he made
                the payment to the traffickers he was to be sure to count out the money in front of the girls so that they
                could later testify about the money. It didn't quite turn out that way. <br><br> The girls started arriving
                at the party. It was clear to the ops team that many of them were reluctant to be there. In fact, they had
                overheard the traffickers telling the Madam, "You have to force the girls to be there."<br><br></p>
        </div>
        <div class='whaleBoxAndWords'>
            <div class='whaleYellowBox'>
                <div class='whaleBoxWords'><strong>"THEY BELIEVED WE WERE STUPID TOURISTS. THEY WERE TRYING TO GET $1000 U.S. PER GIRL."</strong></div>
            </div>
            <p>Negotiations never seem to go smoothly. When there is a lot of money involved and the stakes are high, emotions
                run high too. "They were trying to get the maximum price from us for the girls," said the team leader. "They
                believed we were stupid tourists. They were trying to get $1000 U.S. per girl. That is the highest price
                we've been charged. Normally it's between $200 to $300. One thousand dollars is the price of a virgin. And
                they lied to us saying many were under age." <br><br> The mark of a true professional, however, is how they
                handle issues when things don't go as planned. One group of girls was late to the party due to traffic. A
                decision had to be made. Do we go ahead and take down the traffickers with what we have or wait until all
                can be at the party? The O.U.R. ops leader determined it was too dangerous to wait. He moved forward with
                the transaction and pulled out the money, making sure the girls could see it. <br><br> The trafficker had
                a different idea. He did not want the girls to see the money. It was obvious to O.U.R. that he was planning
                on taking a larger cut than what he had promised the girls and he didn't want them to know how much he was
                selling them for. A compromise was made and a bargain struck.<br><br> </p>
        </div>
        <div class='whaleFullWords'>
            <p>A drink sealed the deal and the signal was given. Forty-five seconds later the police stormed in. "It seemed
                like 45 minutes to me," said the ops leader. "This guy did not have a weapon, but when the police broke in,
                he reached for a weapon he normally carries in his left hip, but he didn't have it." O.U.R. had warned him
                previously that he would be searched when he came to the party and he had chosen not to bring the pistol
                he normally carried. Unknown to him, O.U.R. had two of its own flank him on either side, just in case he
                had managed to sneak something in. He wasn't going to get away with anything.<br><br> Everyone was arrested;
                even O.U.R.'s jump team. That's how they manage to keep their cover. O.U.R. had also arranged for a couple
                of social workers to be there to help with the girls following the arrests. "They were sad, crying, and scared
                when the police came in," said the ops leader, "but the social workers quickly helped them to feel safe."
                The 16-year-old was taken to a shelter where O.U.R. will be able to follow up with her care and get her the
                help that she needs. She has since been returned to her family, but O.U.R. will continue to monitor her progress.
                So far, none of the adult women have chosen to take advantage of the shelter but that could change.<br><br>As
                for the group of latecomers, it is unknown what happened to them, but it is believed that there is still
                a ringleader out there somewhere who was very lucky this day. "The boss may still be out there and we're
                looking for him," said O.U.R.'s ops leader." The government will be looking for him as well. His days are
                numbered.</p>
        </div>
    </div>
</section>