
<navbar></navbar>

<section class='partnershipsSection'>
    <div class='partnerImageBoxes'></div>
    <div class='partnerImageBoxes' id='partnerImageOverlay'>
        <h1>WE CANNOT WIN THIS FIGHT ALONE</h1>
        <p>The battle against child sex trafficking is far reaching, ever changing, and dependent upon the coordinated effort of specific expertise around the world. O.U.R. partners with a variety of local and international organizations to coordinate rescues, plan for recovery, and change the mindset.</p>
        <h2>Click on a button below to see the organizations that support O.U.R. 
        on our mission to end child sex slavery.</h2>
    </div>
</section>