@import url('https://fonts.googleapis.com/css?family=Montserrat');

.videoContainer {
    width: 100%;
    height: 1100px;
    background: url("http://hillcountryconservancy.org/wp-content/uploads/2016/05/Scenery.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blackOverlay {
    background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
    position: relative;

}

.secondNavBar {
    /*background: black;
    opacity: .5;*/
    z-index: 10;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navMainLogo {
    background: url('https://wotcplanet.com/wp-content/uploads/2016/02/OUR_LOGO_MASTER-V_2_GO.png') no-repeat center;
    background-size: cover;
    width: 350px;
    height: 150px;
  
}

.secondList {
    color: white;
    font-family: 'Montserrat';
    display: flex;

}

.secondList li {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    border-bottom: 5px solid transparent;
  
}

.secondList li:hover {
    border-bottom: 5px solid #f5c010;
}

.videoWords {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.videoWords h2 {
    font-size: 51px;
    line-height: 51px;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 13%;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 2px;
    
}

.videoWords button {
    width: 90px;
    height: 90px;
    background: #f5c010;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 40px;
}

.fa-play {
    transform: scale(2.3, 2.3);
}

.videoWords p {
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 25px;
}