
$main-font: 'Montserrat';

$main-yellow: #fac03c;

#promiseFade {
    animation-duration: 2s;
    animation-delay: 1s;
}

#promiseFade1 {
    animation-duration: 2s;
    animation-delay: 2s;
}

#promiseFade2 {
    animation-duration: 2s;
    animation-delay: 3s;
}

#blackWords {
    color: black;
}

.sinceWords {
    color: $main-yellow;
    font-family: $main-font;
    font-size: 30px;
    letter-spacing: 2px;
    padding-left: 5%;
    padding-bottom: 24px;
    padding-top: 64px;
}

.foundedSection {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.foundedWords {
    /*padding-top: 10%;*/
    width: 60%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foundedSection h2 {
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 2px;
}

.foundedSection p {
    font-family: $main-font;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 22px;
    color: #2d2d2d;
    width: 600px;
    text-align: justify;
}

.foundedImage {
    background: url('../images/tim.png') no-repeat center;
    background-size: cover;
    width: 560px;
    height: 560px;
    margin-top: -64px;
}


/*-------------------------------*/

.routerNav {
    margin-top: 24px;
    width: 100%;
    height: 64px;
    background-color: $main-yellow;
    font-family: $main-font;
    font-size: 20.8px;
    letter-spacing: 2px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    text-transform: uppercase;
}

#whitePromise {
    color: white;
}

.promiseBoxes {
    width: 50%;
    height: 100%;
}

#firstBox {
    display: flex;
    justify-content: space-around;
}

.greyPromise {
    width: 100%;
    height: 264px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greyPromiseImage {
    background: url('http://ourrescue.org/assets/img/about_promise_promise_background.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.greyPromise h1 {
    float: right;
    padding-right: 80px;
    padding-top: 120px;
    font-family: $main-font;
    font-size: 24px;
    color: #222222;
    font-weight: bolder;
}

.greyPromise p {
    color: #222222;
    font-family: $main-font;
    font-style: italic;
    font-size: 24px;
    width: 504px;
    height: 240px;
    font-weight: lighter;
    line-height: 36px;
    padding-top: 48px;
}

.picturePromise {
    width: 100%;
    height: 264px;
    background-image: url('http://ourrescue.org/assets/img/about_promise_team_background.png');
    background-size: cover;
    display: flex;
}

.picturePromise p {
    font-family: $main-font;
    font-style: italic;
    font-size: 24px;
    color: white;
    width: 506px;
    height: 240px;
    line-height: 36px;
    font-weight: lighter;
    padding-top: 56px;
    margin-left: 10%;
}

.boldYellow {
    color: $main-yellow;
}

.yellowPromise {
    width: 100%;
    height: 264px;
    background-color: $main-yellow;
    display: flex;
    /*align-items: center;*/
}

strong {
    font-style: normal;
}

.yellowPromiseImage {
    background: url('http://ourrescue.org/assets/img/about_promise_donate_background.png') no-repeat center;
    background-size: cover;
    width: 560px;
    height: 100%;
}

.yellowPromise p {
    color: #222222;
    font-family: $main-font;
    font-style: italic;
    font-size: 24px;
    width: 506px;
    height: 240px;
    line-height: 36px;
    padding-top: 72px;
    font-weight: lighter;
}

.aboutUsDonate {
    color: white;
    text-decoration: underline;
}

@media(min-width: 1800px){
    .foundedImage {
        width: 50%;
        height: 720px;
    }

    .foundedSection {
    padding-left: 10%;
    padding-right: 10%;
    }

    .sinceWords {
        padding-left: 10%;
    }
    
}