@import "styles/variables";

.animateDir {
    // visibility: hidden;
}

.flip {
    animation-delay: 1s;
}


.secondNavBar {
    z-index: 10;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navMainLogo {
    margin-left: 2%;
    background: url('http://ourrescue.org/assets/img/logo.svg') no-repeat center;
    /*background-size: cover;*/
    width: 250px;
    height: 100px;
}

.secondList {
    color: white;
    font-family: $main-font;
    display: flex;
}

.dropdown a {
    margin-left: 30px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dropbtn {
    padding-bottom: 5px;
    border-bottom: 5px solid transparent;
    color: white;
    border: none;
    /*cursor: pointer;*/
    position: relative;
    /*display: inline-block;*/
}

.dropbtn:hover {
    border-bottom: 5px solid $main-yellow;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #58585a;
    max-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 8.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
    text-align: center;
}

#one {
    transform: translate(-42px);
}

#two {
    transform: translate(-32px);
}

#three {
    transform: translate(-40px);
}

#four {
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 19px;
    text-decoration: none;
    display: block;
    font-family: $main-font;
    text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.videoContainer {
    width: 100%;
    height: 900px;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0,0, 0, 0.2)),url('../images/field3.jpg');
    /*background: url("http://hillcountryconservancy.org/wp-content/uploads/2016/05/Scenery.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blackOverlay {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: relative;
}


.videoWords {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-between;

}

.videoWords h2 {
    font-size: 55px;
    line-height: 65px;
    color: white;
    font-family: $main-font;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 13%;
    padding-top: 40px;
    text-align: center;
    letter-spacing: 5px;

}

.videoWords button {
    width: 90px;
    height: 90px;
    background: #99999a;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 50px;
}

.homeVideoButton:active {
    background: white;
}

.fa-play {
    transform: scale(3, 3);
    padding-left: 2px;
}

.videoWords p {
    color: $main-yellow;;
    font-family: $main-font;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    font-weight: bolder;
}

// .typingBox {
//     width: 370px;
   
// }

// .css-typing
// {
//     width: 50em;
//     white-space:nowrap;
//     overflow:hidden;
//     animation: type 20s steps(150, end);
// }

// @keyframes type{
//     from { width: 0; }
// }



.firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1650px;
    width: 100%;
}

.whiteWords {
    width: 100%;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 80px;
}

.whiteWords h3 {
    font-family: $main-font;
    font-size: 34px;
    color: #222222;
    line-height: 35px;
    font-weight: bolder;
}

.whiteWords h2 {
    font-family: $main-font;
    font-size: 22px;
    color: #222222;
    line-height: 44px;
    font-weight: lighter;
}

.blackButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 266px;
    /*padding-bottom: 200px;*/
}

.firstbButton {
    padding: 80px;
}

.secondbButton {
    padding: 80px;
}

.crButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1e1f20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagecrButton {
    background: url("http://ourrescue.org/assets/img/rescue-icon.svg") no-repeat;
    width: 79px;
    height: 100px;
    background-size: cover;
}

.imagecrButton:hover {
    transform: rotate(25deg);
}

.imagerpButton {
    background: url("http://ourrescue.org/assets/img/planning-icon.svg") no-repeat;
    width: 110px;
    height: 110px;
}

.imagerpButton:hover {
    transform: rotate(25deg);
}

.rpButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1e1f20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blackButtons p {
    color: $main-yellow;
    font-size: 22px;
    line-height: 34px;
    font-family: $main-font;
    /*font-weight: bold;*/
    width: 200px;
    height: 43px;
    text-align: center;
    padding: 15px;
}

.rescueWords {
    font-size: 34px;
    line-height: 44px;
    font-family: $main-font;
    color: #222222;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 100px;
}

.rescueWords p span {
    font-weight: bolder;
}

.gridImage {
    margin-top: 70px;
    background: url('http://ourrescue.org/assets/img/homepage_map_grid.svg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    z-index: 0;
    position: absolute;
}

.worldImage {
    position: absolute;
    margin-top: 30px;
    /*margin-top: -60px;*/
    background: url('http://ourrescue.org/assets/img/homepage_map.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    z-index: 10;
    transition: 6s ease-in;
    /*transition: transform(0, 90px);*/
}


.yellowOperations {
    width: 100%;
    height: 870px;
    background: url('../images/yellow.png')no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.yellowOperations p {
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 50px;
}

.yellowOperations h3 {
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 42px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.yellowOperations h1 {
    font-family: $main-font;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 16px;
    padding-top: 0;
}

.operationsList {
    display: flex;
    justify-content: space-around;
}

.firstOpList {
    padding-left: 30px;
}

.thirdOpList {
    padding-right: 10px;
}


/*---------------------------*/

.aroundTheWorld {
    width: 100%;
    height: 1100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshowTitle {
    width: 97%;
    height: 90px;
    background-color: #1e1f21;
    color: white;
    font-family: $main-font;
    font-size: 26px;
    line-height: 44px;
    text-align: center;
    padding-top: 24px;
    margin-top: 80px;
}

.homeImageBox {
    width: 97%;
    height: 600px;
    background: #f5f5f5;
    margin-bottom: 50px;
    padding-left: 7%;
    padding-top: 2%;
}

.homeImageBox li {
    margin: 5px;
    display: inline-block;
    width: 30%;
    height: 45%;
}

.homeImageBox h1 {
    font-family: $main-font;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding-top: 80px;
}

.homeImageBox p {
    color: $main-yellow;
    font-family: $main-font;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    font-weight: lighter;
}

.homePicOne {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1486053186fda086a0fcec6b14b77a218b5f338b22.jpg') no-repeat;
    background-size: cover;
}

.homePicOne:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1486053186fda086a0fcec6b14b77a218b5f338b22.jpg') no-repeat;
    background-size: cover;
}

.homePicTwo {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1461171299b6a16df942b73ded226e4c9864e1f070.jpg') no-repeat;
    background-size: cover;
}

.homePicTwo:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1461171299b6a16df942b73ded226e4c9864e1f070.jpg') no-repeat;
    background-size: cover;
}

.homePicThree {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14860535229adb48de2c4ae65dfc339cc944371b40.png') no-repeat;
    background-size: cover;
}

.homePicThree:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14860535229adb48de2c4ae65dfc339cc944371b40.png') no-repeat;
    background-size: cover;
}

.homePicFour {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14860533544c23f0d3f10c637944ecd12dddd2444c.jpg') no-repeat;
    background-size: cover;
}

.homePicFour:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14860533544c23f0d3f10c637944ecd12dddd2444c.jpg') no-repeat;
    background-size: cover;
}

.homePicFive {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14529042645b480f2af92f2785a6e327c058b9d874.jpeg') no-repeat;
    background-size: cover;
}

.homePicFive:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/14529042645b480f2af92f2785a6e327c058b9d874.jpeg') no-repeat;
    background-size: cover;
}

.homePicSix {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1456176434fac2fab4273e763c225eda69a7dc3c15.png') no-repeat center;
    background-size: cover;
}

.homePicSix:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('http://ourrescue.org/assets/img/home-callout-thumbnail/1456176434fac2fab4273e763c225eda69a7dc3c15.png') no-repeat center;
    background-size: cover;
}


/*---------------------------*/

.newsBox {
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /*margin-bottom: -70px;*/
    align-items: center;
}

.newsImages img {
    width: 150px;
    height: 110px;
    background-size: cover;
}

@media(min-width: 1640px) {
    .newsBox {
        width: 80%;
    }
}