@import "styles/variables";

.fadeInRightBig {
    animation-duration: 3s;
    animation-delay: .5s;
}

.fadeInLeftBig {
    animation-duration: 3s;
    animation-delay: .5s;
}

.rollIn {
    animation-duration: 3s;
    animation-delay: 1.5s;
}

#joinFightFadeIn {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

#joinFightFadeIn1 {
    animation-duration: 1.5s;
    animation-delay: 2s;
}

#joinFightFadeIn2 {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

#joinFightFadeIn3 {
    animation-duration: 1.5s;
    animation-delay: 2s;
}

#joinFightFadeIn4 {
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}

#joinFightFadeIn5 {
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

#joinFightFadeIn6 {
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}

#joinFightFadeIn7 {
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}


.fightTopSection h2 {
    color: $main-yellow;
    font-family: $main-font;
    font-size: 28px;
    width: 480px;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-bottom: 40px;
}

.fightTopSection {
    background: url('../images/girl-child.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 640px;

}
.fightDonateSection {
    display: flex;
    width: 100%;
    height: 640px;
    align-items: center;
    justify-content: flex-start;
    font-family: $main-font;
    padding-right: 64px;
    padding-left: 120px;
}


.fightDonateWords p {
    width: 480px;
    font-size: 22.4px;
    text-align: justify;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
}

.fightDonateWords span {
    font-weight: bolder;
}


.fightOptions {
    width: 100%;
    height: 560px;
}

.fightYellowBar {
    width: 100%;
    height: 48px;
    background-color: $main-yellow;
}

.fightYellowBar p {
    text-align: center;
    font-family: $main-font;
    font-size: 17.6px;
    font-weight: bolder;
    padding-top: 16px;
}

.fightOptionBoxes {
    height: 640px;
    margin-left: 32px;
    margin-top: 16px;
}

.fightOptionBoxes li {
    margin: 4px;
    background-color: #1e1f20;
    display: inline-block;
    width: 23.5%;
    height: 35%;
    box-shadow: -1px 1px 5px 2px rgba(0,0,0,0.5);
   
}

.fightOptionBoxes p {
    color: $main-yellow;
    font-family: $main-font;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
    padding-top: 32px;
}

.fightBoxContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fightBoxContent img {
    width: 80px;
    height: 64px;
    transition: .3s;

}

.fightBoxContent img:hover {
    transform: rotate(25deg);
    transition: .3s;
}

.fightImagesSection {
    width: 100%;
    height: 400px;
    display: flex;
}

.fightFirstImage {
    background: url('../images/fight-girl1.jpg') no-repeat center;
    background-size: cover;
    width: 33.3%;
    height: 400px;
    transition: 3s;
}

.fightFirstImage:hover {
    width: 100%;
    transition: 3s;
}

.fightSecondImage {
    background: url('../images/fight-girl2.jpeg') no-repeat center;
    background-size: cover;
     width: 33.3%;
    height: 400px;
    position: relative;
    transition: 3s;
}

.fightSecondImage:hover {
    width: 100%;
    transition: 3s;
}

.fightThirdImage {
    background: url('../images/fight-girl3.jpeg') no-repeat center;
    background-size: cover;
     width: 33.33%;
    height: 400px;
    position: relative;
    transition: 3s;
}

.fightThirdImage:hover {
    width: 100%;
    transition: 3s;
}
.fightGreyBar {
    width: 100%;
    height: 80px;
    background-color: lightgrey;
}