$main-font: 'Montserrat';

$main-yellow: #fac03c;

.storiesTopSection {
    background: url('../images/smallChild.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 720px;
    font-family: $main-font;
    letter-spacing: 2px;
}

.storiesMainWords {
    padding-top: 160px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
}

.storiesTopSection h1 {
    color: $main-yellow;
    font-size: 28.8px;
    font-weight: bolder;
}

.storiesTopSection p {
    font-size: 16px;
    font-weight: lighter;
    width: 40%;
    text-align: justify;
    line-height: 28.8px;
}

.storiesTopSection h2 {
    font-weight: bolder;
    font-size: 19.2px;
}

.storiesTopSection span {
    color: $main-yellow;
}

.storiesPanorama {
    width: 100%;
    /*margin: 0 auto;*/
    height: 508px;
    overflow: auto;
    white-space: nowrap;
    padding-top: 80px;
}


.storiesSliderImage {
    display: inline-block;
    background: url('http://ourrescue.org/assets/img/stories_slide.jpg') no-repeat;
    height: 100%;
    width: 3824px;
}

.storiesWhaleWatch {
    width: 100%;
    height: 960px;
    font-family: $main-font;
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.storiesWhaleWatch p {
    width: 90%;
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
    color: #414141;
}

.whaleInfo {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whaleInfo h1 {
    color: $main-yellow;
    font-size: 36.8px;
    font-weight: bolder;
}

.whaleDetails {
    display: flex;
}

.whaleDetails h2 {
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 17px;
    color: #686867;
    background-color: $main-yellow; 
    margin-right: 4px;
    font-size: 16px;
}

.whaleDetails h3 {
    width: 160px;
    height: 50px;
    margin-right: 4px;
    text-align: center;
    font-weight: bolder;
    padding-top: 17px;
    color: #696968;
    background-color: #c1c1c0; 
    font-size: 16px;
}

.whaleImages {
    padding-top: 10%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whaleImageOne {
    width: 100%;
    height: 40%;
    background: url('http://ourrescue.org/assets/img/page-thumbnail/146316598324a2dd122d681067f841f5bdcace99e5.png') no-repeat;
    background-size: cover;
    position: relative;
}

.whaleImageTwo {
    width: 100%;
    height: 40%;
    background: url('http://ourrescue.org/assets/img/page-thumbnail/1463166003430477e213ddb09d973a972d4b066ab2.png') no-repeat;
    background-size: cover;
    position: relative;
}

.whaleImageButton {
    width: 48px;
    height: 48px;
    background-color: $main-yellow;
    text-align: center;
    padding-top: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.whaleImageButton .fa {
    color: white;
}

.whaleVideo {
    margin-top: 16px;
    margin-left: 10%;
    background: url('https://i.vimeocdn.com/video/567000763.webp?mw=1300&mh=731') no-repeat;
    background-size: 100%;
    width: 80%;
    height: 640px;
    margin-bottom: 16px;
}

.whaleStory {
    width: 95%;
    height: 1360px;
    padding-left: 5%;
    font-family: $main-font;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: justify;
    font-size: 16px;
    color: #414141;
}

.whaleFullWords {
    width: 100%;
}

.whaleBoxAndWords {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whaleBoxAndWords p {
    width: 70%;
}

.whaleYellowBox {
    width: 28%;
    height: 100%;
    background-color: $main-yellow;
    padding: 48px 48px;
    margin-bottom: 30px;
}

.whaleBoxWords {
    width: 280px;
    margin: auto;
}

.whaleBoxWords strong {
    color: #ffffff;
    text-align: justify;
    font-size: 28px;
    line-height: 40px;

}

