$main-font: 'Montserrat';

$main-yellow: #fac03c;

#partnerImageOverlay {
    animation-duration: 1.5s;
    animation-delay: .5;
}

#partnerFadeIn {
    animation-duration: 1.5s;
    animation-delay: 2s;
}

#partnerFadeIn1 {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

#partnerFadeIn2 {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

#partnerFadeIn3 {
    animation-duration: 1.5s;
    animation-delay: 2s;
}

.partnershipsSection {
    background: url('../images/children.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 640px;
    font-family: $main-font;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
}

.partnerImageBoxes {
    width: 40%;
    height: 80%;
}

#partnerImageOverlay {
    background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8));
    padding: 16px 32px;
}

.partnershipsSection h1 {
    color: #fac03c;
    font-size: 32px;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-bottom: 32px;
}

.partnershipsSection p {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
    padding-bottom: 24px;
}

.partnershipsSection h2 {
    color: white;
    font-size: 19.2px;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-bottom: 40px;
}

.partnerBlackButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

.imageFirstButton {
    background: url("http://ourrescue.org/assets/img/rescue-icon.svg") no-repeat;
    width: 63.2px;
    height: 80px;
    background-size: cover;
}

.imageFirstButton:hover {
    transform: rotate(25deg);
}

.imageSecondButton {
    background: url("http://ourrescue.org/assets/img/planning-icon.svg") no-repeat;
    width: 88px;
    height: 88px;
}

.imageSecondButton:hover {
    transform: rotate(25deg);
}

.imageThirdButton {
    background: url("http://ourrescue.org/assets/img/mindset-icon.svg") no-repeat;
    width: 88px;
    height: 88px;
}

.imageThirdButton:hover {
    transform: rotate(25deg);
}

.imageFourthButton {
    background: url("http://ourrescue.org/assets/img/organizations-icon.svg") no-repeat;
    width: 120px;
    height: 64px;
}

.imageFourthButton:hover {
    transform: rotate(25deg);
}

.partnerButtons {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #1e1f20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnerBlackButtons p {
    color: #fac03c;
    font-size: 17.6px;
    line-height: 25.6px;
    font-family: $main-font;
    /*font-weight: bold;*/
    width: 160px;
    height: 34.4px;
    text-align: center;
    padding: 12px;
}