<div class='videoContainer'>
    <div class='videoOverlay'>
        <div class='blackOverlay'>
            <nav class='secondNavBar'>
                <div class='navMainLogo'></div>
                <ul class='secondList'>
                    <li>ABOUT US</li>
                    <li>JOIN THE FIGHT</li>
                    <li>TECHNOLOGY</li>
                    <li>O.U.R STORIES</li>
                    <li>PARTNERSHIPS</li>
                    <li>EVENTS & MEDIA</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class='videoWords'>
        <h2>WE EXIST TO RESCUE CHILDREN <br> FROM SEX TRAFFICKING.</h2>
        <button><i class="fa fa-play" aria-hidden="true"></i></button>
        <p>Learn about our 2016 successes</p>
    </div>
</div>
<section class='firstSection'>
    <div class='whiteWords'>
        <h3>OPERATION UNDERGROUND RAILROAD (O.U.R.)</h3>
        <h2>PAVES THE WAY FOR PERMANENT ERADICATION OF CHILD SEX TRAFFICKING THROUGH:</h2>
    </div>
    <div class='blackButtons'>
        <div class='firstbButton'>
            <div class='crButton'>
                <div class='imagecrButton'></div>
            </div>
            <p>COORDINATED RESCUE</p>
        </div>
        <div class='secondbButton'>
            <div class='rpButton'>
                <div class='imagerpButton'></div>
            </div>
            <p>RECOVERY PLANNING</p>
        </div>
    </div>
    <div class='rescueWords'>
        <p>In the past three years of existence, O.U.R. has rescued <br><span style="color: #f5c010"> 641 victims</span> and
            assisted in the arrests of more than <span style="color: #f5c010">275 traffickers</span> <br> around the world.</p>
        <div class='worldImage'></div>
    </div>
</section>