@import url('https://fonts.googleapis.com/css?family=Montserrat');
#blackWords {
    color: black;
}

.sinceWords {
    color: #fac03c;
    font-family: 'Montserrat';
    font-size: 36px;
    letter-spacing: 2px;
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 80px;
}

.foundedSection {
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.foundedWords {
    /*padding-top: 10%;*/
    width: 60%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foundedSection h2 {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 2px;
}

.foundedSection p {
    font-family: 'Montserrat';
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 28px;
    color: #2d2d2d;
    width: 750px;
    text-align: justify;
}

.foundedImage {
    background: url('../images/tim.png') no-repeat center;
    background-size: cover;
    width: 700px;
    height: 700px;
    margin-top: -80px;
}


/*-------------------------------*/

.routerNav {
    margin-top: 30px;
    width: 100%;
    height: 80px;
    background-color: #fac03c;
    font-family: 'Montserrat';
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    text-transform: uppercase;
}

#whitePromise {
    color: white;
}

.promiseBoxes {
    width: 50%;
    height: 100%;
}

#firstBox {
    display: flex;
    justify-content: space-around;
}

.greyPromise {
    width: 100%;
    height: 330px;
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.greyPromiseImage {
    background: url('http://ourrescue.org/assets/img/about_promise_promise_background.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.greyPromise h1 {
    float: right;
    padding-right: 100px;
    padding-top: 150px;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #222222;
    font-weight: bolder;
}

.greyPromise p {
    color: #222222;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 30px;
    width: 630px;
    height: 300px;
    font-weight: lighter;
    line-height: 45px;
    padding-top: 60px;
}

.picturePromise {
    width: 100%;
    height: 330px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/lineup.png');
    background-size: cover;
    display: flex;
}

.picturePromise p {
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 30px;
    color: white;
    width: 630px;
    height: 300px;
    line-height: 45px;
    font-weight: lighter;
    padding-top: 70px;
    margin-left: 10%;
}

.boldYellow {
    color: #f6c647;
}

.yellowPromise {
    width: 100%;
    height: 330px;
    background-color: #f6c647;
    display: flex;
    /*align-items: center;*/
}

strong {
    font-style: normal;
}

.yellowPromiseImage {
    background: url('http://ourrescue.org/assets/img/about_promise_donate_background.png') no-repeat center;
    background-size: cover;
    width: 700px;
    height: 100%;
}

.yellowPromise p {
    color: #222222;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 30px;
    width: 630px;
    height: 300px;
    line-height: 45px;
    padding-top: 90px;
    font-weight: lighter;
}

.aboutUsDonate {
    color: white;
    text-decoration: underline;
}