

.fightTopSection h2 {
    color: #fac03c;
    font-family: 'Montserrat';
    font-size: 35px;
    width: 600px;
    /*margin-top: 50px;*/
    /*text-align: center;*/
    /*margin-right: 50px;*/
    line-height: 1.5;
    letter-spacing: 2px;
    padding-bottom: 50px;

}

.fightTopSection {
    background: url('../images/girl-child.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 800px;

}
.fightDonateSection {
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Montserrat';
    padding-right: 80px;
    padding-left: 150px;
}


.fightDonateWords p {
    width: 600px;
    font-size: 28px;
    text-align: justify;
    line-height: 2;
    letter-spacing: 2px;
    color: white;
}

.fightDonateWords span {
    font-weight: bolder;
}

.fightOptions {
    width: 100%;
    height: 700px;
}

.fightYellowBar {
    width: 100%;
    height: 60px;
    background-color: #fac03c;
}

.fightYellowBar p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: bolder;
    padding-top: 20px;
}

.fightOptionBoxes {
    height: 800px;
    margin-left: 40px;
    margin-top: 20px;
}

.fightOptionBoxes li {
    margin: 5px;
    background-color: #1e1f20;
    display: inline-block;
    width: 23.5%;
    height: 35%;
   
}

.fightOptionBoxes p {
    color: #fac03c;
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: center;
    padding-top: 40px;
}

.fightBoxContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fightBoxContent img {
    width: 100px;
    height: 80px;
    transition: .2s;

}

.fightBoxContent img:hover {
    transform: rotate(25deg);
    transition: .2s;
}