.storiesTopSection {
    background: url('../images/smallChild.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 900px;
    font-family: 'Montserrat';
    letter-spacing: 2px;
}

.storiesMainWords {
    padding-top: 200px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
}

.storiesTopSection h1 {
    color: #fac03c;
    font-size: 36px;
    font-weight: bolder;
}

.storiesTopSection p {
    font-size: 20px;
    font-weight: lighter;
    width: 40%;
    text-align: justify;
    line-height: 36px;
}

.storiesTopSection h2 {
    font-weight: bolder;
    font-size: 24px;
}

.storiesTopSection span {
    color: #fac03c;
}

.storiesPanorama {
    width: 100%;
    /*margin: 0 auto;*/
    height: 635px;
    overflow: auto;
    white-space: nowrap;
    padding-top: 100px;
}


.storiesSliderImage {
    display: inline-block;
    background: url('http://ourrescue.org/assets/img/stories_slide.jpg') no-repeat;
    height: 100%;
    width: 4780px;
}

.storiesWhaleWatch {
    width: 100%;
    height: 1200px;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
}

.storiesWhaleWatch p {
    width: 90%;
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    color: #414141;
}

.whaleInfo {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whaleInfo h1 {
    color: #fac03c;
    font-size: 46px;
    font-weight: bolder;
}

.whaleDetails {
    display: flex;
}

.whaleDetails h2 {
    width: 250px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    padding-top: 18px;
    color: #686867;
    background-color: #fac03c; 
    margin-right: 5px;
    font-size: 20px;
}

.whaleDetails h3 {
    width: 200px;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    font-weight: bolder;
    padding-top: 18px;
    color: #696968;
    background-color: #c1c1c0; 
    font-size: 18px;
}

.whaleImages {
    padding-top: 10%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.whaleImageOne {
    width: 100%;
    height: 40%;
    background: url('http://ourrescue.org/assets/img/page-thumbnail/146316598324a2dd122d681067f841f5bdcace99e5.png') no-repeat;
    background-size: cover;
    position: relative;
}

.whaleImageTwo {
    width: 100%;
    height: 40%;
    background: url('http://ourrescue.org/assets/img/page-thumbnail/1463166003430477e213ddb09d973a972d4b066ab2.png') no-repeat;
    background-size: cover;
    position: relative;
}

.whaleImageButton {
    width: 60px;
    height: 60px;
    background-color: #fac03c;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.whaleImageButton .fa {
    color: white;
}

.whaleVideo {
    margin-left: 10%;
    background: url('https://i.vimeocdn.com/video/567000763.webp?mw=1300&mh=731') no-repeat;
    background-size: 100%;
    width: 80%;
    height: 800px;
    margin-bottom: 20px;
}

.whaleStory {
    width: 95%;
    height: 1700px;
    padding-left: 5%;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
    color: #414141;
}

.whaleFullWords {
    width: 100%;
}

.whaleBoxAndWords {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whaleBoxAndWords p {
    width: 70%;
}

.whaleYellowBox {
    width: 28%;
    height: 100%;
    background-color: #fac03c;
    padding: 60px 60px;

}

.whaleBoxWords {
    width: 300px;
    margin: auto;
}

.whaleBoxWords strong {
    color: #ffffff;
    text-align: justify;
    font-size: 30px;
    line-height: 50px;

}

